<div class="container">
<h1>Create a customer</h1>
  <%= form_tag("/customers/create", method: "post", class: "form-group") do %>
    <%= text_field_tag('company', nil, placeholder: 'Company Name', class: "form-control") %>
    <%= text_field_tag('first_name', nil, placeholder: 'First Name', class: "form-control") %>
    <%= text_field_tag('last_name', nil, placeholder: 'Last Name', class: "form-control") %>
    <%= text_field_tag('address', nil, placeholder: 'Address', class: "form-control") %>
    <%= text_field_tag('city', nil, placeholder: 'City', class: "form-control") %>
    <%= text_field_tag('state', nil, placeholder: 'State', class: "form-control") %>
    <%= text_field_tag('zip', nil, placeholder: 'Zipcode', class: "form-control") %>
    <%= text_field_tag('country', nil, placeholder: 'Country', class: "form-control") %>
    <%= text_field_tag('phone', nil, placeholder: 'Phone Number', class: "form-control") %>
    <%= text_field_tag('fax', nil, placeholder: 'Fax Number', class: "form-control") %>
    <%= text_field_tag('website', nil, placeholder: 'Website', class: "form-control") %>
    <%= number_field_tag('card_number', nil, placeholder: 'Card Number', class: "form-control") %>
    <%= number_field_tag('card_exp_month', nil, placeholder: 'MM', class: "form-control") %>
    <%= number_field_tag('card_exp_year', nil, placeholder: 'YYYY', class: "form-control") %>
    <%= submit_tag("Submit", class: "btn btn-default") %>
  <% end %>
</div>
