<div class="container text-center">
  <h1>PaymentSprung</h1>
    <%= link_to 'Charge a card', 'charges/card', class: "btn btn-default" %>
    <%= link_to 'Charge a bank account', 'charges/bank', class: "btn btn-default" %>
    <%= link_to 'Create a customer', 'customers/new', class: "btn btn-default" %>
    <%= link_to 'Search for customers', 'customers/search', class: "btn btn-default" %>
    <%= link_to 'Create a plan', 'plans/new', class: "btn btn-default" %>
    <%= link_to 'Subscribe a customer', 'subscriptions/new', class: "btn btn-default" %>
  <h4>Built using the <%= link_to 'PaymentSpring API', 'https://paymentspring.com/developers/'%></h4>
</div>
